* {
    margin: 0px;
    padding: 0px;
}

:root {
    --pretin: #121517;
    --branquin: #F7F9F9;
    --cinza-escuro: #4C5154;
    --amarelo: #FFC000;
}

html, body {
    min-height: 10vh;
    background-color: var(--branquin);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--cinza-escuro);
    text-align: center;
    padding: 2%;
    box-shadow: 0px 1px 4px 3px #a9a9a9;
}

header > img {
    width: 15%;
}

.TEMPORARY {
    width: fit-content;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.TEMPORARY:hover {
    cursor: pointer;
    color: lightgray;
}

.container {
    min-height: 80vh;
}

.forml {
    display: flex;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border: 1px solid var(--amarelo);
    border-radius: 10px;
    max-width: 70%;
    height: 34px;
    
}

.txt {
    height: 20px;
    padding: 7px 7px 7px 20px;
    font-size: 16px;
    border: 0px;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    box-shadow: 1px 1px 3px 0.5px lightgray inset;
    z-index: 1px;
    position: relative;
}

.txt:focus-visible {
    outline: none;
}


.forml:hover {
    border: 1px solid #d4a30e;
    border-radius: 10px;
}

.search {
    align-items: right;
    border: 0px solid var(--amarelo);
    border-radius: 0px 10px 10px 0px;
    background-color: var(--amarelo);
    min-width: 10%;
    min-height: 34px;
}

.search:hover {
    cursor: pointer;
    background-color: #d4a30e;
    border: 1px solid #d4a30e;
}

.lupa {
    width: 15px;
}

.arrowOpen{
    display: block;
    height: 20px;
    width: 20px;
    margin: 10px;
}

.arrowClose{
    display: block;
    height: 20px;
    width: 20px;
    margin: 10px;
}

.arrowOpen:hover {
    margin-left: 13px;
    cursor: pointer;
}

.arrowClose:hover {
    margin-left: 7px;
    cursor: pointer;
}

.arrowClose:hover + .geral {
    margin: 10px 3px;
}

.personal {
    display: flex;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 5px 1px darkgray;
    height: 500px;
    width: 6px;
    margin-top: -480px;
    left: 0%;
}

.overlay {
    display: none;
    position: absolute;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 1px 5px 1px darkgray;
    height: 500px;
    min-width: 250px;
    width: 25vw;
    margin-top: -480px;
    left: 0%;
    background-color: var(--branquin);
    transition: margin 0.2s ease;
}

.catalog {
    display: flex;
    max-width: 63.5vw;
    width: 750px;
    margin: 10px auto;
    padding: 20px;
}

.card {
    display: inline-flex;
    border: 1px dashed var(--amarelo);
    border-radius: 10px;
    min-width: 120px;
    max-width: 160px;
    width: 30%;
    min-height: 170px;
    max-height: 1000px;
    margin: 10px;
}

.line {
    width: 100%;
    justify-content: space-evenly;
}

.geral {
    margin: 10px 0px 0px 0px;
    padding: 10px;
    max-width: 255px;
}

.pageFunc {
    margin: 30px 0px;
    min-width: 220px;
    width: 24vw;
}
.config {
    margin: 235px 0px;
    min-width: 220px;
    width: 24vw;
}

.pageFunc > img, .config > img {
    width: 4vw;
    max-width: 25px;
    margin: 4px;
}

.pageFunc > a, .config > a {
    position: absolute;
    color: black;
    text-decoration: none;
}

.pageFunc > a:hover, .config > a:hover {
    text-decoration: underline;    
}

.info {
    width: 50vw;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 1px lightgray;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info > h2 {
    color: var(--amarelo);
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;

}

footer {
    color: var(--branquin);
    margin-top: 5%;
}

footer > h5 {
    background-color: var(--cinza-escuro);
    text-align: center;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
}